.DashboardSummaryCard {
    margin: 1rem;
        width: 321px;
        height: 146px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 11px;
        padding-bottom: 13px;
        background: rgb(240, 240, 240);
        border-radius: 16px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: inline-flex;
        
}